<div class="@(Selectable ? "inline-block radio" : "")"
     style="background-color:@Building.FirstType.Color.ToHex()">
    <input name="answer"
           type="radio"
           id="@Building.Id"
           hidden="hidden"
           value="@Building.Id"
           @onchange="BuildingSelected" />
    <label for="@Building.Id"
           class="cursor-pointer flex flex-col px-3 py-2 border rounded-sm border-gray-500 hover:opacity-75 hover:shadow">
        <span class="flex items-center font-semibold pb-2">
            <BuildingIcon BuildingType="Building.FirstType" />

            <span class="ml-2">

                @Building
            </span>
        </span>
        <span class="tracking-wide font-thin text-lg">
            Level @Building.Level
        </span>
    </label>
</div>


@code {
    [Parameter]
    public bool Selectable { get; set; } = true;

    [Parameter, EditorRequired]
    public required Building Building { get; set; }

    [Parameter]
    public EventCallback<Building> OnBuildingSelected { get; set; }

    private async Task BuildingSelected()
    {
        if (Selectable)
        {
            await OnBuildingSelected.InvokeAsync(Building);
        }
    }
}
